:root {
  --color1: tomato;
  --color2: navy;
}
.jsaitem{
	background: #fff;				
	margin-bottom: 10px;
	box-shadow: 1px 1px 8px #99999961;
	/* height: 66px;
	overflow-y: hidden; */
}
.jsaitem.open{
	height: auto;
}
.jsaitem .jsatitle{
	font-weight: bold;
	margin: 0px;
	padding: 20px;
	border-bottom: solid thin var(--color2);
	cursor: pointer;
	color: #414042;
}

/*Signo al lado del titulo*/ 
.jsaitem .jsatitle .masmenos{
	color: var(--color1);				
}
.jsaitem .jsatitle .masmenos:after{
	content: "+";
}
.jsaitem.open .jsatitle .masmenos:after{
	content: "-";
}

.jsaitem .jsacontent{
	max-height: 0px;
	overflow-y: hidden;					
	opacity: 0;
	transition: max-height 0.5s, opacity 0.2s;
	
}
.jsaitem.open .jsacontent{				
	max-height: 10000px;
	height: auto;
	padding: 30px 50px;
	color: #404142; 
	opacity: 1;
}


@media screen and (max-width: 600px){

	.jsaitem.open .jsacontent{
		padding: 20px;
	}
	
}
